*{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} 

body{
    background-color:powderblue ;
}

header{
    background: blueviolet;;
     padding: 40px 0;
     border-bottom: 3px salmon;
    max-width: 900px;
     margin: auto;
    
    
    }
    .container {
    max-width: 900px;
    margin: auto ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
     height: 300px
     align-items flex-end
    }

h1{
    width: 100%;
    display: inline-block;
}

header nav {
  width: 45%;
  display: inline-block;
  text-align: right;

}


header nav a {
    color: grey;
     text-transform: uppercase;    
     font-weight:bold;
    text-decoration: none;
     margin: 0 10px;
    background-color: aliceblue;
    padding: 10px;
    border: radius 3px;
}
header nav a:hover{
    background-color: aquamarine;
    transition:3s;
} 

div.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
     height: 300px
     align-items flex-end
    }


